{% extends '__base__.html' %}

{% block content %}

	<div style="padding: 15px;">内容主体区域</div>

        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>昵称</th>
                <th>加入时间</th>
                <th>签名</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>林坤新</td>
                <td>9999-11-29</td>
                <td>life is a fucking movie</td>
            </tr>
           
            </tbody>
        </table>
		
{% endblock %}